#stages:
#  - start_mongodb
#  - local_build

#start_mongodb:
  #stage: start_mongodb
  #image: mongo:latest
  #script:
    #- mongod --bind_ip_all --fork --logpath /var/log/mongod.log
    #- export MONGO_INITDB_ROOT_USERNAME=
    #- export MONGO_INITDB_ROOT_PASSWORD=
    #- export MONGO_INITDB_DATABASE=

#local:
#  stage: local_build
#  image: docker:latest
#  services:
#    - docker:dind
#  script:
#    - docker login -u $CI_REGISTRY_USER -p $PERS_ACCESS_TOKEN $CI_REGISTRY
#    - export FRONT_ACCESS_URI=$FRONT_ACCESS_URI
#    - export BACK_NODE_ACCESS_PORT=$BACK_NODE_ACCESS_PORT
#    - export MONGODB_URI=$MONGODB_URI
#    - export MONGODB_AUTH_SOURCE=$MONGODB_AUTH_SOURCE
#    - export MONGODB_USER=$MONGODB_USER
#    - export MONGODB_PASSWORD=$MONGODB_PASSWORD
#    - export MONGODB_DBNAME=$MONGODB_DBNAME
#    - docker build -t $CI_REGISTRY_IMAGE .
#    - docker push $CI_REGISTRY_IMAGE
#    - docker logout