stages:
  - build
  - deploy
  - dregistry

node:
  stage: build
  image: node:alpine
  before_script:
    - npm install
  script:
    - node server.js

vercel:
  stage: deploy
  image: drkms/vercel:1.0
  script:
    - export VERCEL_PROJECT_ID=$VERCEL_PROJECT_ID
    - export VERCEL_ORG_ID=$VERCEL_ORG_ID
    variables:
      VERCEL_PROJECT_ID: $VERCEL_PROJECT_ID
      VERCEL_ORG_ID: $VERCEL_ORG_ID
    script: 
        - vercel --yes --token=$VERCEL_ACCESS_TOKEN

  rules:
    - when: manual

dregistry:
  stage: dregistry
  image: docker:latest
  services:
    - docker:dind
  script:
    - docker login -u $DOCKERHUB_USERNAME -p $DOCKERHUB_PASSWORD
    - docker build -t $DOCKERHUB_USERNAME/$DOCKERHUB_IMAGE .
    - docker push $DOCKERHUB_USERNAME/$DOCKERHUB_IMAGE
    - docker logout